.place__paragraph {
  margin: 0 0 26px 0;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    margin: 0 0 29px 0;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    margin: 0 0 26px 0;
  }
}
